* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

#artwrap {
  position: relative;
  top: 100px;
  right: 60px;
  text-align: center;
}

.art {
  color: #5285a2;
}

.topname {
  color: #5285a2;
}

.mainimage {
  position: relative;
  left: 100px;
  top: 30px;
}

#maintext {
  /* display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  /* top: 200px; */
  /* top: 150px;
  margin-bottom: 100px; */
  position: relative;
  bottom: 100px;
  left: 750px;
  text-align: start;
}

.venus {
  font-size: 23px;
  position: relative;
  bottom: 100px;
}

.text1 {
  list-style: none;
}

#wrap {
  position: absolute;
  bottom: 100px;
  right: 150px;
}

#wrap > .note {
  font-size: 30px;
  color: #fff;
  position: relative;
  left: 150px;
  bottom: 700px;
}

#wrap > .arrow {
  font-size: 30px;
  position: relative;
  color: #5285a2;
  bottom: 500px;
  left: 150px;
}

#wrap > .container {
  position: relative;
  bottom: 100px;
  left: 130px;
}

.container {
  width: 100px;
  height: 700px;
  background-color: black;
  margin: 0px;
  padding: 0px;
}
